{% extends "base.html" %}

{% block titulo  %}
Eliminar Tarea
{% endblock  %}

{% block contenido %}
<main>
     <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <h1 class="text-center my-5" >Eliminar Tarea</h1>
                 <p>¿Estas seguro que deseas eliminar la tarea "<strong>{{ tarea }}</strong>"?</p>
                <form method="POST">
                    {% csrf_token %}          
                    {{ form.as_p }}
                    <button class="btn btn-danger" type="submit">Eliminar</button>
                    <a href="{% url 'detalle_proyecto' tarea.proyecto.id %}">Cancelar</a>
                    
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock contenido %}